:root {
  --primary: #101820;
  --secondary: #f2aa4c;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat;
  background-color: var(--primary);
  color: var(--secondary);

  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

.frm {
  margin-bottom: 1rem;
}

.frm label {
  display: block;
  margin: 0.25rem;
  padding-right: 1rem;
}

.frm input {
  appearance: none;
  border-radius: 0.5rem;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.25;
  background-color: #373737;
}

.frm input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

a:not(#arrow):not(#signin):not(#signup) {
  background-color: var(--secondary);
  color: var(--primary);
}

.signup {
  background-color: var(--secondary);
  color: var(--primary);
}

.signin {
  background-color: var(--secondary);
  color: var(--primary);
}

.fade {
  opacity: 1;
}

.error {
  color: white;
  background-color: red;
  margin: 2rem 4rem 1rem;
  border-radius: 0.75rem;
  text-align: center;
  padding: 1rem;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.success {
  color: white;
  background-color: green;
  margin: 2rem 4rem 1rem;
  border-radius: 0.75rem;
  text-align: center;
  padding: 1rem;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/*
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
