{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8" />
    <title>Authentication</title>
    <meta name="description" content="A simple authentication width Django" />
    <meta name="author" content="Teofanus Gary Setiawan" />

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap"
      rel="stylesheet"
    />

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'authentication/css/index.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'authentication/js/index.js' %}"></script>

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{% static 'images/Logo.png' %}" />
  </head>
  <body>
    <header
      id="title"
      class="text-center flex flex-col justify-center items-center min-h-screen p-4"
    >
      <div class="flex-grow flex flex-col justify-center items-center gap-y-4">
        <p class="animate-pulse text-5xl sm:text-8xl font-bold">
          Hello, {% if user.is_authenticated %}{{ user.username }}!{% else %}Anonymous!{% endif %}
        </p>
        {% if user.is_authenticated %}
        <a
          href="{% url 'authentication:signout' %}"
          class="py-1 px-2 rounded-md"
        >
          Sign Out
        </a>
        {% else %}
        <div class="flex gap-x-4">
          <a
            href="{% url 'authentication:signup' %}"
            class="py-1 px-2 rounded-md"
          >
            Sign Up
          </a>
          <a
            href="{% url 'authentication:signin' %}"
            class="py-1 px-2 rounded-md"
          >
            Sign In
          </a>
        </div>
        {% endif %}
      </div>
      <div
        class="text-center flex flex-col items-center gap-y-2 {% if not user.is_authenticated %}hidden{% endif %}"
      >
        <p class="text-base">Scroll down to see your profile</p>
        <a href="#profile" class="focus:outline-none" id="arrow">
          <svg
            class="animate-bounce w-6 h-6 text-amber-900"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
          </svg>
        </a>
      </div>
    </header>
    <section
      id="profile"
      class="{% if not user.is_authenticated %}hidden{% endif %} pt-16 min-h-screen"
      style="scroll-snap-align: start"
    >
      <div
        class="text-2xl rounded h-full w-full flex flex-col items-center justify-center"
      >
        <header class="text-6xl md:text-8xl font-bold">Profile</header>
        <div class="text-xl flex flex-col lg:flex-row pt-16 gap-8 items-center">
          {% if user.profile_image %}
          <img src="{{ user.profile_image.url }}" alt="Profile Picture" class="w-48 md:w-56 h-48 md:h-56">
          {% else %}
          <img src="{% static 'images/Logo.png' %}" alt="Profile Picture" class="w-32 md:w-48 h-32 md:h-48">
          {% endif %}
          <div class="text-center">
            <div class="flex flex-col">
              <p class="font-bold">Full Name:</p><p>Test User3</p>
            </div>
            <div class="flex flex-col">
              <p class="font-bold">Username:</p><p>TestUser3</p>
            </div>
            <div class="flex flex-col">
              <p class="font-bold">Email:</p><p>testuser3@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
