{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8" />
    <title>Authentication</title>
    <meta name="description" content="A simple authentication width Django" />
    <meta name="author" content="Teofanus Gary Setiawan" />

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap"
      rel="stylesheet"
    />

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'authentication/css/index.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'authentication/js/index.js' %}"></script>

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{% static 'images/Logo.png' %}" />
  </head>
  <body>
    {% if messages %} 
      {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %} 
    
    {% if register_form.errors %} 
      {% for field in register_form %} 
        {% for error in field.errors %}
          <div class="error">{{ error|escape }}</div>
        {% endfor %}
      {% endfor %} 

      {% for error in register_form.non_field_errors %}
        <div class="error">{{ error|escape }}</div>
      {% endfor %} 
    {% endif %}
    <div class="flex flex-col md:flex-row mx-8 md:mx-16 mb-8">
      <div
        class="light rounded-t-xl md:rounded-tr-none md:rounded-bl-xl flex flex-col gap-2 md:w-2/3 h-auto"
      >
        <header class="text-5xl pt-12 text-center">Sign In</header>
        <form
          action="{% url 'authentication:signin' %}"
          method="post"
          class="py-12 px-8 md:px-16"
        >
          {% csrf_token %}
          <div class="frm">
            {{ login_form.username.label_tag }}
            {{ login_form.username }}
          </div>

          <div class="frm">
            {{ login_form.password.label_tag }}
            {{ login_form.password }}
          </div>

          <div class="text-center">
            <input
              type="submit"
              value="Sign In"
              class="rounded-3xl py-2 px-6 focus:outline-none focus:border-blue-300 focus:shadow-outline"
            />
          </div>
        </form>
      </div>
      <div
        class="rounded-b-xl md:rounded-bl-none md:rounded-tr-xl flex flex-col gap-2 text-center justify-center py-8 md:py-48 md:w-1/3"
      >
        <p class="text-4xl">Hello!</p>
        <p>Haven't registered yet?</p>
        <a href="{% url 'authentication:signup' %}" id="signup">
          <button
            class="rounded-3xl px-6 py-2 focus:outline-none focus:border-blue-300 focus:shadow-outline signup"
          >
            Sign Up
          </button>
        </a>
      </div>
    </div>
  </body>
</html>
